@charset"UTF-8";
/*css初始化*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;
    margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
#box{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    z-index: 999;
}
#small {
    display: none;
    width: 360px;
    height: 240px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -120px;
    z-index: 1000;

}

#small span{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    cursor: pointer;
}
/*顶部导航*/
.shortcut{
    height:30px;
    background-color: #f1f1f1;
    line-height: 30px;
    width: 100%;
}

.dt,
.shortcut .fore{
    position: relative;
    padding: 0 20px 0 10px;
}
.dt i,
.fore i
{
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right:  3px;
    height: 7px;
    overflow: hidden;
    width: 15px;

}
/*不能移动大盒子，移动大盒子，小盒子就会一起走了，所以移动s就可以了
浮动的盒子不需要给宽，他会随着自己的宽度增加
*/
.dt s,
.fore s{
    position: absolute;
    top: -8px;
    left: 0;
}
.fr li {
    float: left;
    padding: 0 10px;
}
.fr .line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding:0;
}
.shortcut .tel-jd{
    padding:0 20px 0 25px;
}
.tel{
    position: absolute;
    width:15px;
    height:20px;
    background: url(../images/sprite.png) no-repeat;
    left:5px;
    top:5px ;
}
/*顶部结束*/


/*京东头部开始*/
.top-banner{
    background-color:#8A25C6;
}
.tb{
    position: relative;
}
.close-banner{
    position: absolute;
    width: 19px;
    height: 19px;
    background:url("../images/close.png") no-repeat;
    top: 5px;
    right: 0;
}
.close-banner:hover{
    background-position: bottom;
}
/*京东头部结束*/
/*京东logo部分*/
.logo{
    width: 360px;
    height: 100px;
    background-color: pink;
    float:left;
    background:url("../images/logo.png") no-repeat 0 25px;
    position: relative;
}
.jd-a{
    display: block;
    width:270px;
    height: 60px;
    text-indent: -2000em;
}
.db11{
    position: absolute;
    width:180px;
    height: 80px;
    background-color: pink;
    top:10px;
    right:12px;

}
.search{
    width: 538px;
    height: 35px;
    background-color: blue;
    float: left;
    margin-top: 25px;
}
.search input{
    width:450px;
    height:32px;
    float:left;
    border:2px solid #B61D1D;
    padding-left: 4px;
    color: #666;
    font: 14px/32px "microsoft yahei" ;
}
.search button{
    width: 80px;
    height: 36px;
    background-color:#B61D1D;
    font: 16px/36px  "microsoft yahei";
    color: #fff;
    cursor:pointer;

}
.shopping{
    width: 96px;
    height: 34px;
    background-color: #fff;
    float:right;
    margin:25px 65px 0 0;
    line-height: 34px;
    border:1px solid #dfdfdf;
    padding-left: 43px;
    position:relative;
}
.icon1{
    position: absolute;
    background:url(../images/sprite.png) no-repeat -1px -59px;
    width: 16px;
    height: 13px;
    /*页面布局，首先要考虑高度和宽度，再考虑背景和字体，再调整位置；*/
    left:18px;
    top: 10px;
}
.icon2{
    font: 400 13px/13px simsun;
    position: absolute;
    right: 14px;
    top: 10px;
}
.icon3{
    position: absolute;
    width:16px;
    height:14px ;
    background-color:#C81623;
    top: -4px;
    left: 100px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius:7px 7px 7px 0;
}
.hotwords{
    width: 500px;
    padding:7px 0;
    float:left;
}
.hotwords a{
    margin-right: 6px;
}
.jd-nav{
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.dropdown{
    width:210px;
    height: 44px;
    float:left;
    background-color: #B1191A;
    position: relative;
    z-index: 10;
    overflow: visible;
}
.dropdown .dt{
    height: 44px;
}
.dropdown .dt a{
    display: inline-block;
    font: 400 15px/44px "微软雅黑"  ;
    color: #fff;
    height: 44px;
    background-color:  #B1191A;
}
.dropdown .dd{
    height: 465px;
    background-color: #C81623 ;
    margin-top: 2px;
}

.dropdown .items{
    height: 31px;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #fff;
    line-height: 31px;
    border-left: 1px solid #b61d1d;
    padding:0  13px;
}
.dropdown .items h3{
    float:left;
}
.dropdown .items span{
    float:right;
    font: 600 15px/31px "宋体";
}
.navitems{
    width: 660px;
    height: 44px;
    float: left;
}
.navitems li{
    float: left;
    padding:0 20px;
}
.navitems .new{
    background:url("../images/new.jpg") no-repeat top right;
}
.navitems a{
    dispaly:inline-block;
    font:400 15px/44px "微软雅黑";
}

.bike {
    width: 140px;
    height: 44px;
    background:url(../images/bike.jpg) no-repeat;
    float: right;
}
/*顶部结束*/
/*开始底部*/
.slogen{
    height:54px;
    padding:20px 0;
    background-color: #F5F5F5;
    position: relative;
    margin-bottom: 15px;
}
.item{
    width:302px;
    position: absolute;
    left: 50%;
    top:20px;
}
.slogen1{
    margin-left:-608px;
}
.slogen2{
    margin-left:-304px;
}
.slogen3{
    margin-left: 2px;
}
.slogen4{
    margin-left:306px;
}

.shop dl{
    width: 200px;
    float: left;
    padding-top: 15px;
}
.shop dt,
.cov1{
    height:28px;
    font: 16px "微软雅黑";
}
.shop dd{
    height: 20px;
}
.coverage{
    width: 210px;
    height: 165px;
    background: url("../images/china.png") no-repeat  left bottom;
    float:right;
}
.cov2{
    margin-top: 10px;
}
.look1{
    text-align:right;
    margin-top: 5px;
}
.againw{
    border-top: 1px solid #e5e5e5;
    padding:23px 0 30px 0;
    margin-top: 30px;
    text-align: center;
}
.links a{
    padding: 0 6px;
}
.copyright{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 18px;
}
/*底部结束*/







