body{
    background: #f5f5f5;
}

.jd_layout{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.jd_header{
    position: fixed;
    left: 0;
    top:0;
    height:40px;
    width: 100%;
    z-index: 1;
}
.jd_header_box{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    background-color: rgba(201,21,35,0);
    position: relative;
    height: 40px;
}
.jd_header_box .icon_logo{
    background-position: 0 -103px;
    height: 36px;
    width: 60px;
    position: absolute;
    top: 4px;
    left: 10px;

}
.jd_header_box .login{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    color: #fff;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.jd_header_box form{
    width: 100%;
    padding-left: 75px;
    padding-right: 55px;
    position: relative;
}
.jd_header_box form input{
    width: 100%;
    border-radius: 15px;
    height: 30px;
    margin-top: 5px;
    padding-left: 30px;
}
.jd_header_box form .icon_search{
    position: absolute;
    background-position: -60px -109px;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 80px;
}
.jd_banner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.jd_banner ul:nth-child(1){
    width: 1000%;
    display: block;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}
.jd_banner ul:nth-child(1) li{
    float: left;
    width: 10%;
}
.jd_banner ul:nth-child(1) li a{
    width: 100%;
    display: block;
}
.jd_banner ul:nth-child(1) li a img{
    width: 100%;
    display: block;/*清除间距*/
}
.jd_banner ul:nth-child(2){
    width: 130px;
    height: 6px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -65px;
}
.jd_banner ul:nth-child(2) li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-right: 10px;
}
.jd_banner ul:nth-child(2) li.now{
    background-color: #fff;
}
/*京东导航栏部分*/
.jd_nav{
    width: 100%;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.jd_nav ul li{
    width: 25%;
    float: left;
}
.jd_nav ul li a{
    width: 100%;
    display: block;
}
.jd_nav ul li img{
    width: 40px;
    height: 40px;
    display: block;
    margin:  0 auto;
}
.jd_nav ul li p{
    color: #ccc;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
}
/*商品展示公共区域*/
.jd_product{
    padding: 0 5px;
}
.jd_product_box{
    margin-top: 10px;
    box-shadow: 0 0 1px 1px #e0e0e0;
    background: #fff;
    min-height: 180px;
}
.jd_product_box .floor_title{
    width: 100%;
    position: relative;
}
.floor-tit-bgimg{
    width: 100%;
    position: relative;
    vertical-align: middle;
}
.jd_product_box .floor_title span {
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    bottom: 0;
    height: 73.6%;
    margin: auto;
}
.floor_title span img{
    display: block;
    width: auto;
    max-height: 100%;
    text-align: center;
    margin: 0 auto;
}
.title_wrap{
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.seckill-icon{
    background: url("../images/seckill-icon.png") no-repeat;
    background-size: 16px 20px;/*在一倍范围内都没有什么影响*/
    width: 16px;
    height: 20px;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
}
.seckill-title{
    font-size: 15px;
    color: #d8505c;
    float: left;
    margin-left: 10px;
   font-weight: normal;

}
.seckill-time{
    float: left;
    margin-left: 10px;
}
.seckill-time span{
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #333;
    float: left;
    margin-top: 8px;
    margin-right: 3px;
    color: #fff;
}
.seckill-time span:nth-child(3n){
    background: #fff;
    width: 3px;
    color: #000;
}
.product_con{

}
.product_con ul{
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}
.product_con ul li{
   float: left;
    width: 33.333%;
}
.product_con ul li a{
    width: 100%;
    display: block;
    border-right: 1px solid #e0e0e0;
}
.product_con ul li:last-child a{
    border-right: none;
}
.product_con ul li a img{
    width: 64%;
    margin: 0 auto;
    display: block;
}
.product_con p:nth-of-type(1){
    color: #d8505c;
    padding-top: 5px;
}
.product_con p:nth-of-type(2){
    text-decoration: line-through;/*删除线*/
    padding-top: 5px;
    margin-bottom: 10px;
}
/*商品图片*/
.w_50{
    width: 50%;
    display: block;
}
.w_50 img{
    width: 100%;
    display: block;
}
.b_right{
    border-right: 1px solid #e0e0e0;
}
.b_left{
    border-left: 1px solid #e0e0e0;
}
.b_bottom{
    border-bottom: 1px solid #e0e0e0;
}